{% block body %}
    <div class="nirerow__name__">
        <div class="col-sm-2" style="visibility: hidden;">
            {{ form_widget(form.udala, {'value' : udal.id }, {'attr': {'class': 'form-control'}} ) }}
        </div>
        <div class="col-sm-1" style="visibility: hidden;">
            {{ form_widget(form.fitxa, {'value' : fitxa.id }, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-8 burua">
            {{ form_widget(form.kostua, {'attr': {'class': 'form-control kostutaula'}}) }}
        </div>
    </div>
{% endblock %}
