[{{ item.name }}]

user = {{ item.user }}
group = {{ item.group }}

listen = /run/php/php-{{ item.name }}-fpm.sock

listen.owner = {{ item.user }}
listen.group = www-data

pm = dynamic

pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
