{% extends 'base.html.twig' %}
{% block menua %}
    {{ parent() }}
    <ul class="list-inline pull-right" role="tablist">
        <li><a href="{{ path('aurreikusi_new') }}" class="btn btn-primary">Epe berria</a></li>
    </ul>
{% endblock %}
{% block body %}


{% endblock %}